* {
    font-family: 'Oxygen', 'Josefin-Sans', 'Sans-serif';
    font-weight: bold;
}

#loginForm {
    margin-top: 25%;
    margin-bottom: 25%;
}

#logo {
    height: 180px;
    margin-top: 20px;
}

.logo {
    text-align: center;
}

#loginheader {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: -50px;
}

.passwordInput {
    font-weight: 100;
}

#fp {
    text-align: right;
}

#fpt {
    font-weight: 800;
}

.btn {
    background: #0072bb;
}

.btn:hover {
    background: #428bca;
}

.inputerror{
    border: 2px solid red;
    box-shadow: 0 0 3px red;
}

.inputsuccess {
    border: 2px solid #00F5FF;
    box-shadow: 0 0 5px #00F5FF;
}

/*.container {
    left: 0;
    right: 0;
}*/