.button-list {
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
    background: ;
    color: #0072bb;
}

.button-list > li {
    list-style: none;
}

.button-list-item {
	height: 25%;
}

.button-list-item > .btn.btn-lg {
	width: 100%;
	height: 100%;
	border-radius: 0;
}

html, body, .main-row, .sidebar, .main-content {
	height: 100%;
}

.sidebar {
	padding-right: 0;
}

.top-bar {
	height: 20%;
	background: white;
}

img {
	height:70%;
}

.rest {
	background: #5D8AA8;
}

#logo{
    height:180px;
}

.mainscreen {
    text-align:center;
}