.button-list {
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.button-list-item {
	height: 25%;
}

.button-list-item > .btn.btn-lg {
	width: 100%;
	height: 100%;
	border-radius: 0;
}

html, body, .main-row, .sidebar, .main-content {
	height: 100%;
}

.sidebar {
	padding-right: 0;
}

.top-bar {
 background:green;
  height:45%;
  text-align:center;
 
}

#logo{
	height: 180px;
  top:0;
  position:absolute;
position:fixed;
 left:14.79%;
  
}

.rest {
	background:pink;
  height:55%;
  text-align:center;
}